@model List<string>
@{
    ViewData["Title"] = "Contact";
    ViewData["Active"] = "Contact";
}
@section Header {
    <h1>Contact Us</h1>
}
<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>
